.details-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-image, .details-content {
	margin: 0 30px;
}

.details-youtube {
	margin: 0 auto;
	display: block;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
}

.details-info {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 1.8;
}

.details-info li {
	margin-bottom: 5px;
}

.details-description {
	font-size: 16px;
	line-height: 1.5;
}