.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}

.loader-circle {
	width: 60px;
	height: 60px;
	border: 4px solid #333;
	border-top-color: #fff;
	border-radius: 50%;
	animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
	to {
		transform: rotate(360deg);
	}
}
