.not-found {
	text-align: center;
	padding: 100px 0;
}

.not-found-title {
	font-size: 120px;
	line-height: 1;
	margin-bottom: 20px;
}

.not-found-text {
	font-size: 22px;
	margin-bottom: 40px;
	color: #808080;
}

.not-found .button {
	display: inline-block;
}
